.Aboutpage {
    height: 350px;
    border-radius: 50px;
    background-color: rgb(44, 116, 76);
    margin-left: 30px;
    margin-right: 30px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 100px;
}

.Discover {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    color: white;
}

.button {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 70px;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    background-color: aliceblue;

}
.button:hover{
    cursor: pointer;
    background-color: rgb(24, 94, 43);
}

.linne{
    
    height: 2px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    background-color: rgb(23, 93, 41);
}

.credit{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: aliceblue;
    margin-left: 70px;
    align-items: center;
}

.total{
    font-size: 50px;
    font-weight: bold;
}



.ourteam{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px;
}

.meetourteam{
    color:black;
    font-size: 20px;
}

.creative{
    font-size: 40px;
    font-weight: bold;
    color: rgb(23, 93, 41);
    line-height: 50px;
}

.team-pics{
    display:flex;
    justify-content:space-around;
    flex-direction: row;
}


.team1{
    margin-left: 40px;
   
}

.about-div{
    margin-top: 40px;
    height: 100px;
    background-color:rgb(23, 93, 41) ;
}

