.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px;
    gap: 20px;
    font-size: 27px;
}

.paraa{
    font-size: 18px;
    margin: 20px 0;
    inline-size: 55ch;
    color: rgb(115, 75, 29);
    line-height: 25px;
}
.hrr{
    width: 70px;
    height: 4px;
    background-color: #429869;
    margin: 20px 0;
}
.aboutt{
    font-weight: bold;
    color: rgb(114, 75, 24);
}
.img{
    margin-top: 50px;
}
.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
    width: 100%;
}
.web{
    background-color: #f5f5f5;
    border-radius: 10px;
    text-align: center;
    
}
.web:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor:pointer;
    border: #623510 solid 1px;
}
.web-para{
    margin: 10px;
    color: rgb(115, 75, 29);
    font-size: 16px;
}
.exp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}
h4{
    color: #623510;
  
}

.vission{
    color: rgb(115, 75, 29);
    font-size: 16px;
    line-height: 25px;
    margin-left: 30px;
}
.btnn2{
    background-color: #429869;
    height: 30px;
    width: 200px;
    color: white;
    border: none;
    padding: 5px;
   font-size: 16px;
   border-radius: 5px;
}
.btnn2:hover{
    background-color: #2c6b4a;
    cursor: pointer;
}
.btnn3{
    background-color: transparent;
    height: 40px;
    width: 150px;
   border: none;
   font-size: 16px;
   margin-left: 10px;
   border-radius: 5px;
}
.btnn3:hover{
    cursor: pointer;
    border: rgb(19, 107, 19) solid 1px;
    color:#429869;

}