
.header-container{
    background: #8b735f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 20px;
    
}
.gmail{
    display: flex;
    align-items: center ;
    gap:10px;
    color:white
}

.header{
    display: flex;
    justify-content: space-between;
   padding:10px;
   align-items: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
font-size: 20px;
}
.header nav{
    display: flex;
    gap:15px;
    list-style-type: none;
}
nav li a{
    text-decoration: none;

}
nav li a:hover{
    cursor: line-pointer;
    text-decoration: underline;
    color: black;
}

.btn{
    background-color: #429869;
    color: white;
    border: none;
    padding: 5px;
   font-size: 16px;
   border-radius: 5px;
   width:200px;
}
 .social-icons{
    display: flex;
    align-items: center ;
    gap:10px;
    color:white
}
.social-icons:hover{
    color: black;
    cursor: pointer;
}
.Hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px;
    gap: 20px;
    font-size: 27px;
    background-color: antiquewhite;
 
}
.paragraph{
    font-size: 20px;
    line-height: 1.6;
    margin-top: 5px;
    font-weight: bold;
    color:rgb(146, 100, 40);
}

.btnn{
    background-color: #429869;
    height: 30px;
    width: 200px;
    color: white;
    border: none;
    padding: 5px;
   font-size: 16px;
   border-radius: 5px;
}
.btnn:hover{
    background-color: #2c6b4a;
    cursor: pointer;
}
.img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.btnn1{
    background-color: transparent;
    height: 40px;
    width: 200px;
   border: none;
   font-size: 16px;
  
}
.para{
    font-size: 18px;
    margin: 20px 0;
    inline-size: 55ch;
    color: rgb(115, 75, 29);
    line-height: 25px;

}
.hr{
    width: 140px;
    height: 4px;
    background-color: #429869;
    margin: 20px 0;
}


.footer{
    height: 100px;
    background-color: #61b389;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;

}

.footer-gmail{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
}

.footer-logo{
    margin-top: 30px;
}

.anchor-tag{
    display: flex;
    align-items: center ;
    gap:30px;
    color:white;
 
}

.footerr{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

.footer-about{
    width: 300px;
   line-height: 30px;
   margin-left: 30px;
}

.h33{
    margin-top: 70px;
    margin-left:40px;
}

.footer-list{
     list-style-type: none;
     line-height: 30px;
}

.h34{
    margin-top: 70px;
    margin-left:70px;
}

.design{
     width: 300px;
   line-height: 30px;
   margin-left: 30px;
}

.Technospire{
    display: flex;
    justify-content: center;
    text-align: end;
    margin-top: 30px;
      margin-bottom: 30px;

}